body{
	font-family: arial;
}
.emoji{
			height: 50px;
			width: 50px;
			padding: 1px;
		}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 30%;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.btn{
    background-color: #555555;
    border-collapse: collapse;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font:arial;
	font-style:strong;
    font-size: 16px;
	margin: 4px 2px;
    cursor: pointer;
}

.hoverbtn:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.anthem{
	width: 200px;
	margin-left: 10px;
}